* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main .container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

main h1 {
    margin: 18px;
    text-align: center;
}

form {
    display: grid;
    align-items: center;
    justify-content: center;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form button {
    display: block;
    width: 320px;
    margin: 12px 0;
    padding: 8px;
    border: 1px solid #a3a2a2;
    border-radius: 8px;
    outline-color: grey;
}

form button:hover {
    background-color: #dcdcdc;
}

.container p {
    text-align: center;
    padding: 8px 0;
}

.valid {
    color: green;
    padding: 16px;
}

.invalid {
    color: red;
    padding: 16px;
}